{% extends 'evaluator/base.html' %}
{% load static account socialaccount %}

{% get_providers as socialaccount_providers %}

{% block content-outer %}
  <body class="d-flex align-items-center min-h-100">
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="main pt-0">
    <!-- Content -->
    <div class="container-fluid px-3">
      <div class="row">
        <!-- Cover -->
        <div
          class="col-lg-6 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-light px-0">
          <!-- Logo & Language -->
          <div class="position-absolute top-0 left-0 right-0 mt-3 mx-3">
            <div class="d-none d-lg-flex justify-content-between">
              {#                <a href="index.html">#}
              {#                  <img class="w-100" src="{% static 'svg/logos/logo.svg' %}" alt="Image Description" style="min-width: 7rem; max-width: 7rem;">#}
              {#                </a>#}

              <!-- Select -->

              <!-- End Select -->
            </div>
          </div>
          <!-- End Logo & Language -->

          <div style="max-width: 23rem;">
            <div class="text-center mb-5">
              <img class="img-fluid" src="{% static 'svg/illustrations/chat.svg' %}" alt="Image Description"
                   style="width: 12rem;">
            </div>

            <div class="mb-5">
              <h2 class="display-4">Handong Code Evaluator</h2>
            </div>

            <!-- List Checked -->
            <ul class="list-checked list-checked-lg list-checked-primary list-unstyled-py-4">
              <li class="list-checked-item">
                <span class="d-block font-weight-bold mb-1">All-in-one tool</span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </li>

              <li class="list-checked-item">
                <span class="d-block font-weight-bold mb-1">Easily upload &amp; evaluator your programs!</span>
                Nam sit amet velit ac sapien viverra pretium ac eu eros.
              </li>
            </ul>
            <!-- End List Checked -->

            {#              <div class="row justify-content-between mt-5 gx-2">#}
            {#                <div class="col">#}
            {#                  <img class="img-fluid" src="{% static 'svg/brands/gitlab-gray.svg' %}" alt="Image Description">#}
            {#                </div>#}
            {#                <div class="col">#}
            {#                  <img class="img-fluid" src="{% static 'svg/brands/fitbit-gray.svg' %}" alt="Image Description">#}
            {#                </div>#}
            {#                <div class="col">#}
            {#                  <img class="img-fluid" src="{% static 'svg/brands/flow-xo-gray.svg' %}" alt="Image Description">#}
            {#                </div>#}
            {#                <div class="col">#}
            {#                  <img class="img-fluid" src="{% static 'svg/brands/layar-gray.svg' %}" alt="Image Description">#}
            {#                </div>#}
            {#              </div>#}
            <!-- End Row -->
          </div>
        </div>
        <!-- End Cover -->

        <div class="col-lg-6 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="w-100 pt-10 pt-lg-7 pb-7" style="max-width: 25rem;">
            <!-- Form -->
            <form method="post">
              {% csrf_token %}
              <div class="text-center mb-5">
                <h1 class="display-4">Sign in</h1>
                <p>Sign in or Sign up with your handong.ac.kr Google account</p>
              </div>
              <div class="mb-4">
                <button class="btn btn-lg btn-white btn-block" type="submit">
                    <span class="d-flex justify-content-center align-items-center">
                      <img class="avatar avatar-xss mr-2" src="{% static 'svg/brands/google.svg' %}"
                           alt="Image Description">
                      Sign in with Google
                    </span>
                </button>
              </div>
            </form>
{#            <div class="text-center mb-4">#}
{#              <span class="divider text-muted">OR</span>#}
{#            </div>#}
{##}
{#            <button type="submit" class="btn btn-lg btn-block btn-primary">Sign in</button>#}
{#            </form>#}
            <!-- End Form -->
          </div>
        </div>
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Global Compulsory  -->
  <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery-migrate/dist/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'vendor/hs-toggle-password/dist/js/hs-toggle-password.js' %}"></script>
  <script src="{% static 'vendor/jquery-validation/dist/jquery.validate.min.js' %}"></script>
  <script src="{% static 'vendor/select2/dist/js/select2.full.min.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
      $(document).on('ready', function () {
          // INITIALIZATION OF SHOW PASSWORD
          // =======================================================
          $('.js-toggle-password').each(function () {
              new HSTogglePassword(this).init()
          });


          // INITIALIZATION OF FORM VALIDATION
          // =======================================================
          $('.js-validate').each(function () {
              $.HSCore.components.HSValidation.init($(this));
          });


          // INITIALIZATION OF SELECT2
          // =======================================================
          $('.js-select2-custom').each(function () {
              var select2 = $.HSCore.components.HSSelect2.init($(this));
          });
      });
  </script>

  <!-- IE Support -->
  <script>
      if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="{% static 'vendor/babel-polyfill/polyfill.min.js' %}"><\/script>');
  </script>
  </body>
{% endblock %}