{% extends 'evaluator/base.html' %}
{% load static bootstrap4 %}
{% block content %}
  <main id="content" role="main" class="main">
    <div class="content container-fluid">

      <!-- Page Header -->
      <div class="page-header">
        <div class="row align-items-end">
          <div class="col-sm mb-2 mb-sm-0">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb breadcrumb-no-gutter">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'evaluator:class_list' %}">Classes</a></li>
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="{% url 'evaluator:class_detail' assignment.classroom.pk%}">{{ assignment.classroom.name}}</a></li>
              </ol>
            </nav>

            <h1 class="page-header-title">{{ assignment.name }}</h1>

            <p class="card-text font-size-sm">DueDate :  {{ assignment.due }}</p>
            <p class="card-text font-size-sm">Max score :  {{ assignment.max_score }}</p>

          </div>
        {% if request.user.last_name == '학부생' %}
          <div class="col-sm-auto">
            <a class="btn btn-primary" href="{% url 'evaluator:submission_create' object.pk %}">
              <i class="tio-add mr-1"></i>Submission
            </a>
          </div>
        </div>
          {% endif %}
          {% if request.user.last_name == '교수님' %}
              <div class="col-sm-auto">
            <a class="btn btn-primary" href="{% url 'evaluator:assignment_edit' assignment.pk %}">
              <i class="tio-add mr-1"></i>Edit
            </a>
          </div>
        </div>
          {% endif %}
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <!-- Card -->
      <div class="card">
        <!-- Header -->
        <div class="card-header">
          <div class="row flex-grow-1">
            <div class="col-md mb-2 mb-md-0">
              <h4 class="card-header-title">{{ assignment.description }}</h4>
            </div>


            <div class="col-md-auto">
              <div class="d-flex justify-content-between align-items-center">
                <!-- Datatable Info -->
                <div id="datatableCounterInfo" class="mr-2" style="display: none;">
                  <div class="d-flex align-items-center">
                      <span class="font-size-sm mr-3">
                        <span id="datatableCounter">0</span>
                        Selected
                      </span>
                    <a class="btn btn-sm btn-outline-danger" href="javascript:;"><i class="tio-delete-outlined"></i>
                      Delete</a>
                  </div>
                </div>
                <!-- End Datatable Info -->

                <!-- Unfold -->
                <!-- End Unfold -->
              </div>
            </div>
          </div>
          <!-- End Row -->


        </div>
          <div class="col-sm-auto">
            <form action='{% url "evaluator:download" document_id=assignment.pk %}'>
            <span class="btn btn-default btn-lg" style="display: flex;justify-content: flex-end;">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-download"></i> Download file
                    </button>
            </span>
            </form>
          </div>

        <!-- End Header -->



      </div>
      <!-- End Card -->

    </div>

  </main>

{% endblock %}
