{% extends 'evaluator/base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-end">
        <div class="col-sm">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Classes</a>
              </li>
              <li class="breadcrumb-item"><a class="breadcrumb-link"
                                             href="javascript:;">{{ object.classroom.name }}</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
            </ol>
          </nav>

          <h1 class="page-header-title">{{ object.name }}</h1>
        </div>
      </div>
    </div>
    <!-- End Page Header -->

    <div class="row justify-content-lg-center">
      <div class="col-lg-9">
        <!-- Card -->
        <div class="card card-lg mb-3 mb-lg-5">
          <!-- Header -->
          <div class="card-header">
            <h4 class="card-header-title">Edit Assignment</h4>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
              {{ form.media }}
{#              {{ form.as_p }}#}
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>

      </div>
    </div>
    <!-- End Row -->
  </div>
{% endblock %}
