{% extends 'evaluator/base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-end">
        <div class="col-sm">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
              <li class="breadcrumb-item"><a class="breadcrumb-link" href="javascript:;">Classes</a>
              </li>
              <li class="breadcrumb-item"><a class="breadcrumb-link"
                                             href="javascript:;">{{ classroom.name }}</a>
              </li>
            </ol>
          </nav>

          <h1 class="page-header-title">Create Assignment</h1>
        </div>
      </div>
    </div>
    <!-- End Page Header -->

    <div class="row justify-content-lg-center">
      <div class="col-lg-9">
        <!-- Card -->
        <div class="card card-lg mb-3 mb-lg-5">
          <!-- Header -->
          <div class="card-header">
            <h4 class="card-header-title">Upload files here</h4>
          </div>
          <!-- End Header -->

          <!-- Body -->
          <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
              {{ form.media }}
{#              {{ form.as_p }}#}
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
            <!-- Form Group -->
            {#              <div class="form-group">#}
            {#                <label for="projectNameProjectSettingsLabel" class="input-label">File Upload<i#}
            {#                  class="tio-help-outlined text-body ml-1" data-toggle="tooltip" data-placement="top"#}
            {#                  title="Displayed on public forums, such as Front."></i></label>#}
            {##}
            {#                <div class="input-group input-group-merge">#}
            {#                  <div class="input-group-prepend">#}
            {#                    <div class="input-group-text">#}
            {#                      <i class="tio-file-add-outlined"></i>#}
            {#                    </div>#}
            {#                  </div>#}
            {#                  <input type="text" class="form-control" name="projectName" id="projectNameProjectSettingsLabel"#}
            {#                         placeholder="Upload file here. Allowed extensions are:" aria-label="Enter project name here">#}
            {#                </div>#}
            {#              </div>#}
            {#              <!-- End Form Group -->#}
            {##}
            {#              <!-- Quill -->#}
            {#              <label class="input-label">Comment<span#}
            {#                class="input-label-secondary">(Optional)</span></label>#}

            {#              <input>#}
            <!-- End Quill -->
          </div>
          <!-- End Body -->

          <!-- Footer -->

          <!-- End Footer -->
        </div>
        <!-- End Card -->


      </div>
    </div>
    <!-- End Row -->
  </div>
{% endblock %}
