{% extends 'evaluator/base.html' %}
{% load static bootstrap4 class_detail %}
{% block content %}
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-end">

        <div class="col-sm mb-2 mb-sm-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-no-gutter">
              <li class="breadcrumb-item"><a class="breadcrumb-link"
                                             href="{% url 'evaluator:class_list' %}">Classes</a></li>
              <li class="breadcrumb-item"><a class="breadcrumb-link"
                                             href="{% url 'evaluator:class_detail' assignment.classroom.pk %}">{{ assignment.classroom.name }}</a>
              </li>
            </ol>
          </nav>

          <h1 class="page-header-title">{{ assignment.name }}</h1>

          <p class="card-text font-size-sm {% if assignment.status == 'closed' %}text-danger{% endif %}">
            Due: {{ assignment.due }}
          </p>

        </div>
        {% if request.user.is_student %}
          {% if not object|get_my_submission:request.user %}
            <div class="col-sm-auto">
              <a class="btn btn-primary" href="{% url 'evaluator:submission_create' object.pk %}">
                <i class="tio-add mr-1"></i>Submit</a>
            </div>
          {% endif %}
        {% endif %}

        {% if request.user.is_instructor %}
          <div class="col-sm-auto">
            <a class="btn btn-primary" href="{% url 'evaluator:assignment_edit' assignment.pk %}">
              <i class="tio-add mr-1"></i>Edit
            </a>
          </div>
        {% endif %}
        <!-- End Row -->
      </div>
      <!-- End Page Header -->

      <!-- Card -->
      <div class="card mt-5">
        <!-- Header -->
        <div class="card-header">
          <div class="row flex-grow-1">
            <div class="col-md mb-2 mb-md-0">
              <h4 class="card-header-title">Description: {{ assignment.description|safe }}</h4>
              <p class="card-text font-size-sm">Max score : {{ assignment.max_score }}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Row -->
      {% with submission=assignment|get_my_submission:request.user %}

        <!-- My submissions -->
        <div class="card mt-5">
          <!-- Header -->
          <div class="card-header">
            <div class="row flex-grow-1">
              <div class="col-md mb-2 mb-md-0">
                <h4 class="card-header-title mb-5">{% if submission %}My Submission{% endif %}</h4>
                {% if submission %}
                  <div class="d-flex justify-content-between">
                    <p class="card-text font-size-sm">Score: {{ submission }}</p>
                    {#                      <a class="btn btn-warning" type="submit"#}
                    {#                         href="{% url 'evaluator:submission_update' assignment.pk submission %}">#}
                    {#                        <i class="tio-edit"></i> Edit#}
                    {#                      </a> &nbsp;&nbsp;#}
                    <a class="btn btn-primary" type="submit"
                       href="{% url "evaluator:download" document_id=assignment.pk %}">
                      <i class="bi bi-download"></i> Download
                    </a>
                  </div>
                {% else %}
                  <h3 class="text-center">No Submission yet</h3>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
    </div>
  </div>
{% endblock %}
